@{
	ViewData["Title"] = "Mes devis";
	Layout = "_Layout_Client";
}

@model List<Devis>

<div class="container">
	<div class="text-center mt-10">
		<h1>La liste de mes devis</h1>
	</div>
	<div class="row mt-10">
		<div class="offset-md-1 col-md-10 offset-md-1">
			<div class="table-responsive">
				<table class="table table-rounded table-striped border gy-6 gs-6">
					<thead>
						<tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
							<th>Id</th>
							<th>du</th>
							<th>Type de maison</th>
							<th>Coût des travaux</th>
							<th>Apport des finitions</th>
							<th>Type de finitions</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.id</td>
								<td>@item.dateCreation.ToString("dd MMMM yyyy")</td>
								<td>@item.nomMaison</td>
								<td>@item.montantTravaux.ToString("N") Ar</td>
								<td>@item.tauxFinition %</td>
								<td>@item.nomFinition</td>
								<td>
									<button type="button" class="btn btn-light-success" data-bs-toggle="modal" data-bs-target="#kt_modal_1" data-devis-id="@item.id">
										payer
									</button>
								</td>
								<td>
									<a asp-action="GeneratePDF" asp-controller="Client" asp-route-devis="@item.id">
										<button type="button" class="btn btn-light-danger">
											PDF
										</button>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-center mt-5">
		<ul class="pagination pagination-circle pagination-outline">
			@if (ViewBag.CurrentPage > 1)
			{
				<li class="page-item previous m-1"><a asp-action="Index" asp-controller="Client" asp-route-pg="@(ViewBag.CurrentPage - 1)" class="page-link"><i class="previous"></i></a></li>
			}
			@for (var i = 1; i <= ViewBag.PageCount; i++)
			{
				if (i >= ViewBag.CurrentPage - 1 && i <= ViewBag.CurrentPage + 1)
				{
					<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "") m-1"><a asp-action="Index" asp-controller="Client" asp-route-pg="@i" class="page-link">@i</a></li>
				}
			}
			@if (ViewBag.CurrentPage < ViewBag.PageCount)
			{
				<li class="page-item next m-1"><a asp-action="Index" asp-controller="Client" asp-route-pg="@(ViewBag.CurrentPage + 1)" class="page-link"><i class="next"></i></a></li>
			}
			
			
		</ul>


	</div>


	<div class="modal fade" tabindex="-1" id="kt_modal_1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Paiement du devis</h3>

					<!--begin::Close-->
					<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
						<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
					</div>
					<!--end::Close-->
				</div>
				<form asp-controller="Client" asp-action="TraitementPaiement" method="get" id="payementForm">
				<div class="modal-body">
					<div class="fv-row mb-10">
						<label class="form-label fs-6 fw-bold text-dark">Date de paiement</label>
						<input class="form-control form-control-lg form-control-solid" type="datetime-local" name="datePaiement"/>
					</div>

					<div class="fv-row mb-10">
						<div class="d-flex flex-stack mb-2">
							<label class="form-label fw-bold text-dark fs-6 mb-0">Montant</label>
						</div>
						<input class="form-control form-control-lg form-control-solid" type="number" name="montant" autocomplete="off"/>
							<input class="form-control form-control-lg form-control-solid" type="hidden" name="devis" value=""/>
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-light-primary">Payer</button>
				</div>
				</form>
			</div>
		</div>
	</div>

</div>

<div class="position-fixed top-0 end-0 p-3 z-index-3">
	<div id="kt_docs_toast_toggle" class="toast bg-light-danger" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-danger">
			<i class="ki-duotone ki-abstract-19 fs-2 text-light me-3"><span class="path1"></span><span class="path2"></span></i>
			<strong class="me-auto text-light">Erreur lors du transaction</strong>
			<small class="text-light">maintenant</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			@TempData["ErreurPaiement"]
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-33634.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript">
	const toastElement = document.getElementById('kt_docs_toast_toggle');
	const toast = bootstrap.Toast.getOrCreateInstance(toastElement);
	$(document).ready(function () {
		var erreur = '@TempData["ErreurPaiement"]';
		if (erreur.length > 0) {
			// Affichez votre toast ici
			toast.show();
		}
	});

	$(document).ready(function () {
		$('#kt_modal_1').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Bouton qui a déclenché le modal
			var devisId = button.data('devis-id') // Extrait l'information des attributs de données
			var modal = $(this)
			modal.find('input[name="devis"]').val(devisId)
		})
	});

	$(document).ready(function () {
		$('#payementForm').submit(function (e) {
			e.preventDefault();
			var formData = $(this).serialize();

			$.ajax({
				typeof: 'GET',
				url: '@Url.Action("Paiement", "Client")',
				data: formData,
				success: function (response) {
					if (response.errors) {
						alert(response.errors || "");
					} else {
						window.location.href = response.redirectUrl;
					}
				},
				Error: function (xhr, status, error) { 
					console.error(error);
				}
			});
		});
	});
</script>

